html {
  box-sizing: border-box;
  font-size: 18px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  border: 1px solid black;
}

body {
  font-family: helvetica, arial, sans-serif;
}

#loading {
  background: white;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  text-align: center;
}

#wrapper {
}

#sets ul {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25em;
  margin: 0.25em;
}

#sets p {
  margin-left: 1em;
  font-size: 0.75em;
}

#sets .tip {
  display: none;
}

li {
  list-style: none;
}
button {
  cursor: pointer;
  color: grey;
  padding: 0.5em;
}
button.set {
  color: grey;
  background-color: lightpink;
}
button.set:hover {
  color: grey;
  background-color: pink;
}
button.question {
  background-color: lightblue;
}

#borderarea {
  padding: 1em;
  margin: 0;
  flex-grow: 1;
  display: flex;
  overflow: auto;
}

#playarea {
  background: white;
  margin: auto;
}

#ghost {
    background: blue;
    display: none;
}

#footer {
  text-align: center;
  margin: 1em;
}

img {
  position: absolute;
  display: none;
}

a {
  color: grey;
}

#audio {
  display: none;
}