html {
  box-sizing: border-box;
  font-size: 18px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: helvetica, arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}
h2 { 
  font-size: 1.5em;
}

p { 
  font-weight: lighter;
  margin: .5em 0;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

section {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
}

/*Header*/
header {
  padding: 1em;
}

.logo {
  font-size: 2em;
  padding: .25em .5em;
  border-bottom: 1px solid black;
}

/*Authentication*/
.authenticate {
  align-items: center;
  justify-content: flex-start;
  width: 30%;
}

.authenticate > * {
  border: 3px solid black;
  margin-bottom: 3em;
  padding: 1em;
  width: 100%;
}

form {
  margin: .5em 0;
}

.field {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.field label {
  flex: 1 0 120px;
  max-width: 220px;
}

.field > label + * {
  flex: 1 0 220px;
}

.submit {
  background: lightpink;
  border: none;
  font-weight: bolder;
  letter-spacing: .09em;
  margin: .5em 0;
  padding: 8px 16px;
  text-transform: uppercase;
}

/*Demo doll*/
.demo {
  width: 60%;
}

#loading { 
  background: white;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  text-align: center 
}

#wrapper {
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  /*height: 100vh;*/
}

#sets { 
  display: flex; 
}

#sets ul { padding-left: 0;  }

li { display: inline;
     margin: 0.25em; }
a.set { cursor: pointer;
        color: grey;
        padding: 0.5em;
        background-color: lightpink }

a.set:hover { color: grey;
              background-color: pink }

#borderarea{ padding: 1em;
             margin: 0;
             flex-grow: 1;
             display: flex;
             /*overflow: auto; */
           }

#playarea { background: white;
            border: 1px solid black;
            margin: auto }

#footer { text-align: center; margin: 1em; }

img { position: absolute; display: none }

a { color: grey }
