html, body {
    margin: 0px;
    font-family: sans;
}

a { cursor: pointer;
    color: grey }

#loading { background: white;
           margin: 0;
           padding: 0;
           position: absolute;
           width: 100%;
           height: 100%;
           z-index: 100;
           text-align: center }

#borderarea{ padding: 0;
             margin: 0 }

#playarea { position: relative; 
            margin: auto;
            margin-top: 1em;
            margin-bottom: 1em;
            overflow: auto;
            padding: 0;
            background: white }

#toolbar { background: #cccccc;
           border-left: 1px solid black;
           display: none;
           margin: 0;
           padding: 0;         
           width: 20%;
           height: 100%;
           position: absolute;
           right: 0;
           top: 0 }

#buttons {  }

#toolbar h1 { font-size: 1.5em }

#infobox { margin: 1em }

#footer { text-align: center }

li { display: inline }
<<<<<<< Updated upstream
img { position: absolute; display: none }
=======
img { display: none; }
>>>>>>> Stashed changes
