html, body { margin: 0 }

body { font-family: georgia;
       padding: 1em }

main { margin: auto;
       max-width: 50em }

h1 {font-family: sans;
    text-align: center;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em; }

h2 { font-family: sans }

.project { color: red }

h3 { font-family: sans }

ul { line-height: 1.5em;  }

.links {margin: auto; text-align: center }
.links li { display: inline }
.links li:before { content: " | " }
.links li:first-child:before { content: " " }

.skill { display: inline }
.skill li { display: inline }
