html, body {
    margin: 0px;
}

#borderarea { padding: 1em; }

#cellarea { position: relative; 
            margin: auto;
            background: white }

li { display: inline }

img { position: absolute }
