;-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
;
;                               Play Girl
;                          Art by Light (YEN0171)
;                            05 September 1995
;
;            Local line Yonayona BBS  - World KISS project team -
;-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
;     LITKS13.CNF
;-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
;
;
;

(640,400)
%LITKS13.KCF
[


#1.0      BRACE1.CEL   *0 :0 1 2 3 4   6       ;
#2.0      BACK3.CEL    *0 :    2               ;
#3.0      LOGO2.CEL    *0 :        4           ;
#4.0      YAMAHA2.CEL  *0 :        4           ;
#5.0      FLASH.CEL    *0 :    2               ;
#6.0      SUNGRUS.CEL  *0 :0 1 2 3 4   6       ;
#84.0     EAR_P3.CEL   *0 :    2   4           ;
#82.0     EAR_P2.CEL   *0 :          5 6       ;
#86.0     EAR_P5.CEL   *0 :0 1   3             ;
#7.0      NECK2.CEL    *0 :0 1   3     6       ;
#95.0     BAG1A.CEL    *0 :  1   3     6       ;
#8.0      BELT1.CEL    *0 :  1   3             ;
#9.0      SUIT3B.CEL   *0 :            6       ;
#10.0     A_BAND.CEL   *0 :          5         ;
#11.0     SHUTS5C.CEL  *0 :          5         ;
#12.0     TAI1.CEL     *0 :          5         ;
#13.0     BEST1.CEL    *0 :          5         ;
#11.0     SHUTS5B.CEL  *0 :          5         ;
#14.0     SUIT1A.CEL   *0 :            6       ;
#93.0     GLOVE3.CEL   *0 :            6       ;
#15.0     GLOVE1.CEL   *0 :            6       ;
#9.0      SUIT3.CEL    *0 :            6       ;
#16.999   HAND_L.CEL   *0 :0 1 2 3 4 5 6       ;
#95.0     BAG1.CEL     *0 :  1   3     6       ;
#17.0     NECK1.CEL    *0 :            6       ;
#76.0     PIT_S1.CEL   *0 :        4           ;
#77.0     PIT_S2.CEL   *0 :        4           ;
#7.0      NECK2.CEL    *0 :        4           ;
#18.0     SHUTS4.CEL   *0 :  1                 ;
#19.0     SHUTS3.CEL   *0 :  1 2 3             ;
#20.0     SHUTS2.CEL   *0 :0 1   3             ;
#21.0     BELT2.CEL    *0 :            6       ;
#22.0     BELT3.CEL    *0 :            6       ;
#23.0     SKIRT3.CEL   *0 :            6       ;
#24.0     SKIRT2.CEL   *0 :0 1   3             ;
#25.0     SKIRT1.CEL   *0 :  1   3             ;
#26.0     SKIRT4.CEL   *0 :          5         ;
#27.0     AVEX.CEL     *0 :        4   6       ;
#28.0     SKIRT5.CEL   *0 :            6       ;
#11.0     SHUTS5.CEL   *0 :          5         ;
#14.0     SUIT1.CEL    *0 :            6       ;
#29.0     SUIT2.CEL    *0 :            6       ;
#30.0     T_TOP4.CEL   *0 :  1   3             ;
#31.0     T_TOP2.CEL   *0 :  1   3             ;
#32.0     T_TOP3.CEL   *0 :  1   3             ;
#33.0     T_TOP1.CEL   *0 :  1   3             ;
#34.0     T_TOP5.CEL   *0 :  1   3     6       ;
#78.0     PANTS3.CEL   *0 :        4           ;
#35.0     PANTS1.CEL   *0 :  1   3             ;
#36.0     PANTS2.CEL   *0 :  1   3             ;
#73.0     BOOTS2.CEL   *0 :            6       ;
#37.0     LEG_W_R.CEL  *0 :  1   3             ;
#38.0     LEG_W_L.CEL  *0 :  1   3             ;
#75.0     ANCLET.CEL   *0 :  1 2 3 4 5 6       ;
#79.0     SHOES6.CEL   *0 :  1   3 4   6       ;
#39.0     SHOES3.CEL   *0 :  1   3 4 5 6       ;
#80.0     SHOES5.CEL   *0 :  1   3 4   6       ;
#40.0     SHOES4.CEL   *0 :  1   3 4 5 6       ;
#41.0     SHOES1.CEL   *0 :0 1   3 4   6       ;
#42.0     SHOES2.CEL   *0 :0 1   3 4   6       ;
#43.0     SOX_R1.CEL   *0 :0 1   3             ;
#44.0     SOX_L1.CEL   *0 :0 1   3             ;
#45.999   BACK4.CEL    *0 :    2               ;
#74.0     BOOTS1.CEL   *0 :            6       ;
#81.0     PANST1.CEL   *0 :          5 6       ;
#46.0     TIGHTS2.CEL  *0 :            6       ;
#47.999   BODY2.CEL    *0 :0 1 2 3 4 5 6       ;
#49.0     SWIM3.CEL    *0 :  1 2 3             ;
#48.23    LEOTRD1.CEL  *0 :        4           ;
#98.0     BRA2.CEL     *0 :0 1   3             ;
#99.0     BRA1.CEL     *0 :  1       5 6       ;
#100.0    BRA3.CEL     *0 :      3     6       ;
#87.23    SHOTS1.CEL   *0 :  1   3             ;
#89.23    SHOTS3.CEL   *0 :0 1   3     6       ;
#88.23    SHOTS2.CEL   *0 :          5 6       ;
#90.23    SHOTS4.CEL   *0 :            6       ;
#92.23    SHOTS5.CEL   *0 :      3     6       ;
#50.0     SWIM1.CEL    *0 :  1 2 3             ;
#51.23    SWIM2.CEL    *0 :  1 2 3             ;
#52.0     TIGHTS1.CEL  *0 :            6       ;
#91.23    HANPEN.CEL   *0 :        4 5         ;
#97.40    U_HAIR.CEL   *0 :0 1 2 3 4 5 6       ;
#96.0     TANPON.CEL   *0 :    2       6       ;
#53.999   BODY.CEL     *0 :0 1 2 3 4 5 6       ;
#91.0     HANPEN_.CEL  *0 :        4 5         ;
#92.0     SHOTS5_.CEL  *0 :      3     6       ;
#90.0     SHOTS4_.CEL  *0 :            6       ;
#87.0     SHOTS1_.CEL  *0 :  1   3             ;
#89.0     SHOTS3_.CEL  *0 :0 1   3     6       ;
#88.0     SHOTS2_.CEL  *0 :          5 6       ;
#100.0    BRA3_.CEL    *0 :      3     6       ;
#99.0     BRA1_.CEL    *0 :  1       5 6       ;
#98.0     BRA2_.CEL    *0 :0 1   3             ;
#85.0     EAR_P4.CEL   *0 :    2   4           ;
#83.0     EAR_P1.CEL   *0 :          5 6       ;
#9.0      SUIT3A.CEL   *0 :            6       ;
#11.0     SHUTS5A.CEL  *0 :          5         ;
#28.0     SKIRT5_.CEL  *0 :            6       ;
#14.0     SUIT1B.CEL   *0 :            6       ;
#1.0      BRACE1_.CEL  *0 :0 1 2 3 4   6       ;
#94.0     GLOVE4.CEL   *0 :            6       ;
#54.0     GLOVE2.CEL   *0 :            6       ;
#55.999   FINGER.CEL   *0 :0 1 2 3 4 5 6       ;
#56.0     CIGARET.CEL  *0 :            6       ;
#57.0     CARD1.CEL    *0 :          5         ;
#58.999   BODY3.CEL    *0 :0 1 2 3 4 5 6       ;
#52.0     TIGHTS1_.CEL *0 :            6       ;
#46.0     TIGHTS2_.CEL *0 :            6       ;
#81.0     PANST1_.CEL  *0 :          5 6       ;
#44.0     SOX_L1_.CEL  *0 :0 1   3             ;
#43.0     SOX_R1_.CEL  *0 :0 1   3             ;
#51.0     SWIM2_.CEL   *0 :  1 2 3             ;
#49.0     SWIM3_.CEL   *0 :  1 2 3             ;
#48.0     LEOTRD1_.CEL *0 :        4           ;
#42.0     SHOES2_.CEL  *0 :0 1   3 4   6       ;
#41.0     SHOES1_.CEL  *0 :0 1   3 4   6       ;
#39.0     SHOES3_.CEL  *0 :  1   3 4 5 6       ;
#79.0     SHOES6_.CEL  *0 :  1   3 4   6       ;
#37.0     LEG_W_R_.CEL *0 :  1   3             ;
#38.0     LEG_W_L_.CEL *0 :  1   3             ;
#74.0     BOOTS1_.CEL  *0 :            6       ;
#73.0     BOOTS2_.CEL  *0 :            6       ;
#80.0     SHOES5_.CEL  *0 :  1   3 4   6       ;
#75.0     ANCLET_.CEL  *0 :  1 2 3 4 5 6       ;
#36.0     PANTS2_.CEL  *0 :  1   3             ;
#35.0     PANTS1_.CEL  *0 :  1   3             ;
#78.0     PANTS3_.CEL  *0 :        4           ;
#50.0     SWIM1_.CEL   *0 :  1 2 3             ;
#34.0     T_TOP5_.CEL  *0 :  1   3     6       ;
#33.0     T_TOP1_.CEL  *0 :  1   3             ;
#32.0     T_TOP3_.CEL  *0 :  1   3             ;
#31.0     T_TOP2_.CEL  *0 :  1   3             ;
#30.0     T_TOP4_.CEL  *0 :  1   3             ;
#11.0     SHUTS5_.CEL  *0 :          5         ;
#13.0     BEST1_.CEL   *0 :          5         ;
#12.0     TAI1_.CEL    *0 :          5         ;
#29.0     SUIT2_.CEL   *0 :            6       ;
#14.0     SUIT1_.CEL   *0 :            6       ;
#9.0      SUIT3_.CEL   *0 :            6       ;
#27.0     AVEX_.CEL    *0 :        4   6       ;
#26.0     SKIRT4_.CEL  *0 :          5         ;
#25.0     SKIRT1_.CEL  *0 :  1   3             ;
#24.0     SKIRT2_.CEL  *0 :0 1   3             ;
#23.0     SKIRT3_.CEL  *0 :            6       ;
#22.0     BELT3_.CEL   *0 :            6       ;
#21.0     BELT2_.CEL   *0 :            6       ;
#20.0     SHUTS2_.CEL  *0 :0 1   3             ;
#19.0     SHUTS3_.CEL  *0 :  1 2 3             ;
#18.0     SHUTS4_.CEL  *0 :  1                 ;
#76.0     PIT_S1_.CEL  *0 :        4           ;
#77.0     PIT_S2_.CEL  *0 :        4           ;
#8.0      BELT1_.CEL   *0 :  1   3             ;
#17.0     NECK1_.CEL   *0 :            6       ;
#7.0      NECK2_.CEL   *0 :  1   3 4   6       ;
#6.0      SUNGRUS_.CEL *0 :0 1 2 3 4   6       ;
#95.0     BAG1_.CEL    *0 :  1   3     6       ;
#59.999   HAIR.CEL     *0 :0 1 2 3 4 5 6       ;
#60.999   LOGO.CEL     *0 :0 1 2 3   5 6       ;
#61.999   TZ.CEL       *0 :        4           ;
#62.999   SHADOW2.CEL  *0 :        4           ;
#63.999   SHADOW1.CEL  *0 :        4           ;
#64.999   YAMAHA1.CEL  *0 :        4           ;
#65.999   BACK2.CEL    *0 :    2               ;
#66.999   BACK5.CEL    *0 :    2               ;
#67.999   BACK.CEL     *0 :    2               ;
#68.0     TIP.CEL      *0 :          5         ;
#69.0     TIP.CEL      *0 :          5         ;
#70.0     TIP.CEL      *0 :          5         ;
#71.0     TIP.CEL      *0 :          5         ;
#72.999   MAT.CEL      *0 :          5         ;

$0 * 575,171 * * * * 507,36 517,88 * * * * * * * * 547,163 * * * 503,89
 * * * 502,153 * * * * * * * * * * * * * * * * 431,349 534,353 432,277
 534,276 * * 533,176 * * * * * 431,25 * 467,209 * * 467,130 513,59 3,367
 * * * * * * * * * * * * * * * * * * * * * * * * * 551,67 * * 516,160 *
 * * * * * * 522,181 503,89
$0 * 573,171 * * * * 360,323 138,82 205,86 * * * * * * * 547,163 * 343,84
 51,76 126,75 * * * 196,146 503,152 * * * * 503,89 276,79 202,79 346,89
 125,79 0,142 72,140 448,288 531,292 321,304 265,313 431,349 534,353 147,238
 226,242 * * 533,176 * 276,85 352,184 355,260 * 431,25 * 467,209 * * 467,130
 513,59 3,367 * * * * * * * * * * * * * * 449,349 * * * 314,251 263,254
 * * * * * 551,67 515,163 * 209,161 * * * * * 81,76 * 523,182 53,76 503,90
$0 * 574,173 0,261 * * 54,92 507,33 * * * * * * * * * 547,163 * * 5,269
 * * * * * * * * * * * * * * * * * * * * * * * * * 418,387 * 533,176 *
 6,282 503,86 515,161 * 431,25 * 467,209 * * 467,130 513,59 24,22 * * *
 * 68,0 443,375 * * * * * * * * 449,346 * * * * * * * * 547,68 516,69 *
 * * * * * * * * * 537,183 522,181
$2 * 574,170 * * * * 402,214 58,77 270,72 * * * * * * * 547,163 * * 48,69
 107,70 * * * 41,136 109,142 * * * * 163,71 219,72 503,83 267,72 321,73
 268,141 449,155 93,262 146,256 234,216 183,222 431,350 535,354 0,247 71,248
 * * 533,176 * 219,79 382,77 390,148 * 431,25 * 467,209 * * 467,130 513,59
 3,367 * * * * * * * * * * * * * * 447,352 * * * 228,273 177,277 * * *
 * * 551,67 176,156 * 281,153 * * 516,160 * * 74,69 * 522,181 110,72 *
 503,89
$0 * 574,170 * 4,367 0,260 * 78,329 517,89 * * * * * * * * 547,163 * *
 * * * * * * * * 0,260 * * * * * * * * * * * 92,349 62,358 13,310 55,299
 * * * * 533,176 503,112 * * * * 431,25 * 467,209 * * 467,130 513,59 *
 199,168 438,372 256,370 * * * * * * * * * * * 449,346 30,262 19,261 9,315
 535,353 429,349 * * * 547,68 517,70 * * * * * 527,178 * * * * * 522,181
$5 * * * * * * * * * * 580,125 486,76 521,85 504,85 * * 547,163 * * * *
 * * * * * 502,148 * * * * * * * * * * * * 535,354 430,353 * * * * * *
 533,176 * * * * * 431,25 * 467,209 * 451,206 467,130 513,59 24,22 * *
 * * * * * 251,13 259,21 61,323 129,127 38,1 * * 449,347 * * * * * 432,149
 551,68 519,70 * * * * 516,165 * * 528,179 * * * * * 522,181 * 503,90
$2 * 570,172 * * * * 512,56 352,100 * 481,76 * * * * 322,77 381,153 547,163
 519,95 * * * 352,148 351,160 509,141 * * * 133,96 54,174 232,79 * * *
 * 48,99 * * * * 270,350 168,346 20,340 79,345 * * * 268,207 533,176 *
 * * * 170,198 431,25 306,156 467,209 446,111 * 467,130 513,59 24,22 *
 * * * * * * * * * * * 373,276 267,273 450,345 * * * 535,353 430,350 270,151
 551,68 519,70 * * * * 350,166 146,174 516,160 * 246,161 281,149 193,159
 544,85 536,184 522,181 * 134,102 343,88
$0 *
$0 *
$0 *


